
@{
    ViewBag.Title = "Supplier";
}

@Html.Partial("Users")


<script>
    var myApp1 = angular.module("myApp1", []);


    myApp1.controller("Supplierctrl", function ($scope, $http) {
        $scope.SupplierDetails = "";

        $http.get("/Inventory/GetSupplierInfo")
        .then(function (result) {
            $scope.SupplierDetails = result.data;
            $scope.editAdd = true;
            $scope.editupdate = false;
            alert("success");
        })
        $scope.removeRec = function (User) {
            $http.post("/Inventory/DeleteSupplier", User)
             .then(function (data) {
                 location.reload();
                 return response;


             })
        }
        $scope.NewInsert = {
            NewUsers: {}
        }
        $scope.SupplierEdit = function (User) {
          
            $scope.NewInsert.NewUsers.SupplierID = User.SupplierID;
            $scope.NewInsert.NewUsers.Salutation = User.Salutation;
            $scope.NewInsert.NewUsers.SupplierName = User.SupplierName;
            $scope.NewInsert.NewUsers.Companyname = User.Companyname;
            $scope.NewInsert.NewUsers.Email = User.Email;
            $scope.NewInsert.NewUsers.Mobileno = User.Mobileno;
            $scope.NewInsert.NewUsers.Webpage = User.Webpage;
            $scope.NewInsert.NewUsers.Suppliergroup = User.Suppliergroup;
            $scope.NewInsert.NewUsers.Businesstype = User.Businesstype;
            $scope.NewInsert.NewUsers.Deliveryterms = User.Deliveryterms;
            $scope.NewInsert.NewUsers.Tax = User.Tax;
            $scope.NewInsert.NewUsers.Street1 = User.Street1;
            $scope.NewInsert.NewUsers.Street2 = User.Street2;
            $scope.NewInsert.NewUsers.City = User.City;
            $scope.NewInsert.NewUsers.States = User.States;
            $scope.NewInsert.NewUsers.Zipcode = User.Zipcode;
            $scope.NewInsert.NewUsers.Country = User.Country;
            $scope.NewInsert.NewUsers.Bank = User.Bank;
            $scope.NewInsert.NewUsers.Accountno = User.Accountno;
            $scope.NewInsert.NewUsers.Ifsc = User.Ifsc;
            $scope.NewInsert.NewUsers.Paymentdeadline = User.Paymentdeadline;
            $scope.NewInsert.NewUsers.Currency = User.Currency;
            $scope.NewInsert.NewUsers.Paymentmethod = User.Paymentmethod;
            $scope.Supplierdetails = true;
            $scope.editupdate = true;
            $scope.editAdd = false;
            alert("Edit");

        }
        

        $scope.Submit = function () {
            $http.post("/Inventory/InsertSupplier", $scope.NewInsert.NewUsers)
            .then(function (data) {
                location.reload();
                alert("Save Record");

            })
        }
        
        $scope.addSupplier = function () {
            $scope.Supplierdetails = true;


        }
        $scope.Update = function () {
            $http.post("/Inventory/UpdateSupplier", $scope.NewInsert.NewUsers)
            .then(function (data) {
                location.reload();
                alert("Save Update");
                $scope.editAdd = true;
                $scope.editupdate = false;

            })
        }

        $(document).ready(function () {
            $('#managesupptable').DataTable({
                "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                "iDisplayLength": 10
            });
        });

    });
</script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<style>
    .table1 {
        width: 900px;
    }

        .table1 tr, th {
            padding-left: 50px;
            padding-bottom: 15px;
            font-weight: 100;
        }

        .table1 tr, td {
            padding-bottom: 15px;
        }
</style>
<div ng-app="myApp1" style="float:left; width:60%;height:100%;padding-top:20px;padding-left:50px;">

    <div ng-controller="Supplierctrl">


        <center><h4 style="padding-left:190px;font-family:Cambria;font-size:25px;padding-bottom:20px;"> Supplier Details</h4></center>


        <table class="table1" ng-show="Supplierdetails">
            <tr>
                <th style="width:300px" class="form-group">
                    Supplier ID
                </th>
                <td style="width:400px">
                    <input type="text" id="firstn" size="30" ng-model="NewInsert.NewUsers.SupplierID" class="form-control" readonly>

                </td>

                <th style="width:300px" class="form-group">Supplier name<span style="color:red;font-size:20px">*</span></th>
                <td style="width:400px">
                    <input type="text" id="firstn" size="20" ng-model="NewInsert.NewUsers.SupplierName" class="form-control" placeholder="Enter your Full Name">
                </td>

            </tr>
            <tr>
                <th>Company Name<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <input type="text" id="companyn" size="20" ng-model="NewInsert.NewUsers.Companyname" class="form-control" placeholder="Enter your Company Name">
                </td>

                <th>Email<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <input type="text" id="email" size="20" ng-model="NewInsert.NewUsers.Email" class="form-control" placeholder="Enter Your Mail">
                </td>
            </tr>
            <tr>
                <th>Mobile Number<span style="color:red;font-size:20px">*</span></th>
                <td>

                    <input type="number" id="mobno" size="20" ng-model="NewInsert.NewUsers.Mobileno" class="form-control" placeholder="Enter Mobile No">
                </td>

                <th>Web Site</th>
                <td>

                    <input type="text" id="desg" size="20" ng-model="NewInsert.NewUsers.Webpage" class="form-control" placeholder="Website Address">
                </td>
            </tr>
            <tr>
                <th>Supplier Group<span style="color:red;font-size:20px">*</span></th>
                <td>

                    <select name="group" ng-model="NewInsert.NewUsers.Suppliergroup" class="form-control">
                        <option value="" disabled style="display:none;">Select Group</option>
                        <option>Domestic</option>
                        <option>Foreign</option>
                    </select>
                </td>

                <th>Type of Business<span style="color:red;font-size:20px">*</span></th>
                <td>

                    <select name="group" ng-model="NewInsert.NewUsers.Businesstype" class="form-control">
                        <option value="" disabled style="display:none;">Select Business Type</option>
                        <option>Manufacturers</option>
                        <option>Wholesalesrs and Distributors</option>
                        <option>Affiliate Merchants</option>
                        <option>Franchisors</option>
                        <option>Import and Exporters</option>
                        <option>DropShippers</option>

                    </select>
                </td>
            </tr>
            <tr>
                <th>Delivery Terms<span style="color:red;font-size:20px">*</span></th>
                <td>

                    <select name="deliveryterms" ng-model="NewInsert.NewUsers.Deliveryterms" class="form-control">
                        <option value="" disabled style="display:none;">Select Delivery Type</option>
                        <option>EXW</option>
                        <option>FCA</option>
                        <option>CPT</option>
                        <option>CIP</option>
                        <option>DAF</option>
                        <option>DDU</option>
                        <option>DDP</option>
                        <option>XXX</option>
                    </select>
                </td>

                <th>Tax Rate<span style="color:red;font-size:20px">*</span></th>
                <td>

                    <input type="text" id="desg" size="20" ng-model="NewInsert.NewUsers.Tax" class="form-control" placeholder="Percentage of Tax">
                </td>
            </tr>
            <tr>

                <th>
                    Street Name
                </th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.Street1" class="form-control" placeholder="Enter your House Number">
                </td>

                <th>
                    Street Name
                </th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.Street2" class="form-control" placeholder="Enter your Locality Name">
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.City" class="form-control" placeholder="Enter City">
                </td>


                <th>State</th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.States" class="form-control" placeholder="Enter State">
                </td>

            </tr>
            <tr>
                <th>Zipcode</th>
                <td>
                    <input type="number" id="textname" size="20" ng-model="NewInsert.NewUsers.Zipcode" class="form-control" placeholder="Enter Pincode">
                </td>


                <th>Country</th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.Country" class="form-control" placeholder="Enter country">
                </td>

            </tr>

            <tr>

                <th>
                    Bank<span style="color:red;font-size:20px">*</span>
                </th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.Bank" class="form-control" placeholder="Enter Bank Name">
                </td>

                <th>
                    Account Number<span style="color:red;font-size:20px">*</span>
                </th>
                <td>
                    <input type="number" id="textname" size="20" ng-model="NewInsert.NewUsers.Accountno" class="form-control" placeholder="Enter Account Number">
                </td>
            </tr>
            <tr>
                <th>IFSC<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <input type="text" id="textname" size="20" ng-model="NewInsert.NewUsers.Ifsc" class="form-control" placeholder="IFSC Code">
                </td>


                <th>Payment Deadline<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <input class="form-control" type="date" ng-model="NewInsert.NewUsers.Paymentdeadline" size="20">
                </td>

            </tr>
            <tr>
                <th>Currency<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <select class="form-control" ng-model="NewInsert.NewUsers.Currency">
                        <option value="">Select Currency</option>
                        <option value="AUD">Australian Dollar</option>
                        <option value="BRL">Brazilian Real </option>
                        <option value="CAD">Canadian Dollar</option>
                        <option value="CZK">Czech Koruna</option>
                        <option value="DKK">Danish Krone</option>
                        <option value="EUR">Euro</option>
                        <option value="HKD">Hong Kong Dollar</option>
                        <option value="HUF">Hungarian Forint </option>
                        <option value="ILS">Israeli New Sheqel</option>
                        <option value="JPY">Japanese Yen</option>
                        <option value="MYR">Malaysian Ringgit</option>
                        <option value="MXN">Mexican Peso</option>
                        <option value="NOK">Norwegian Krone</option>
                        <option value="NZD">New Zealand Dollar</option>
                        <option value="PHP">Philippine Peso</option>
                        <option value="PLN">Polish Zloty</option>
                        <option value="GBP">Pound Sterling</option>
                        <option value="SGD">Singapore Dollar</option>
                        <option value="SEK">Swedish Krona</option>
                        <option value="CHF">Swiss Franc</option>
                        <option value="TWD">Taiwan New Dollar</option>
                        <option value="THB">Thai Baht</option>
                        <option value="TRY">Turkish Lira</option>
                        <option value="USD">U.S. Dollar</option>
                    </select>
                </td>


                <th>Payment Method<span style="color:red;font-size:20px">*</span></th>
                <td>
                    <select name="group" ng-model="NewInsert.NewUsers.Paymentmethod" class="form-control">
                        <option value="" disabled style="display:none;">Select Payment Method</option>
                        <option>Cash</option>
                        <option>Cheque</option>
                        <option>Online Transaction</option>
                    </select>
                </td>

            </tr>

        </table>

        <div style="padding-left:420px;padding-top:20px;">
            <table ng-show="Supplierdetails">
                <tr style="align-items:center">

                    <td>
                        <input type="button" value="Update" class="btn btn-success" id="btnUpdate" ng-show="editupdate" ng-click="Update()" />
                    </td>

                    <td>
                        <input type="button" value="Submit" class="btn btn-success" id="btnSubmit" ng-show="editAdd" ng-click="Submit()" />
                    </td>
                </tr>


            </table>
        </div>
        <div style="padding-top:10px;">

            <div class="panel panel-default" style="float:left;width:950px;">
                <div class="panel-heading" style="padding-bottom:20px;">
                    <i class="glyphicon glyphicon-edit">Manage Supplier</i>
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="addSupplier()"><i class="glyphicon glyphicon-plus-sign"></i>Add Supplier </button>
                    </div>
                </div>

                <div class="panel-body" style="float:left;width:950px;">
                    <table class="table table-striped table-bordered" id="managesupptable" style="float:left;">
                        <thead>
                            <tr>
                                <th style="text-align:center">Supplier ID</th>
                                <th style="text-align:center">Supplier Name</th>
                                <th style="text-align:center">Mobile Number</th>
                                <th style="text-align:center">DeadLineDate</th>
                                <th style="text-align:center">Email</th>
                                <th style="text-align:center">Address</th>
                                <th style="text-align:center">Actions</th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="Supplierd in SupplierDetails">

                                <td style="text-align:center">{{Supplierd.SupplierID}}</td>
                                <td style="text-align:center">{{Supplierd.SupplierName}} </td>
                                <td style="text-align:center">{{Supplierd.Mobileno}}</td>
                                <td style="text-align:center">{{Supplierd.Paymentdeadline | date: 'MM/dd/yyyy'}}  </td>
                                <td style="text-align:center">{{Supplierd.Email}}</td>
                                <td style="text-align:center">{{Supplierd.Street1}} </td>
                                <td>

                                    <button style="float:left;" class="btn btn-default" id="btnEdit" ng-model="editupdate" ng-click="SupplierEdit(Supplierd)"><i class="glyphicon glyphicon-edit"></i></button>

                                    <button style="float:right;" class="btn btn-default" id="btnDelete" ng-click="removeRec(Supplierd)"><i class="glyphicon glyphicon-trash"></i></button>


                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
               
            </div>
        </div>
    </div>
    </div>
