@{
    ViewBag.Title = "ProblemsList";
}
@Html.Partial("ProblemManagement")
<div style="float:left; width:200px; padding-top:100px; border-color:#333300">


    <table border="1" bordercolor="black" width="765px" cellpadding="15" cellspacing="3">
        <tr style="color:blue;">

            <asp:Panel ID="Panel 1" runat="server">

            </asp:Panel>
            <td>Problem ID</td>
            <td> Contact</td>
            <td>Status</td>
            <td> Service</td>
            <td> Summary</td>
            <td>Assigned To  </td>
            <td> Time To Resolve</td>
        </tr>
        <tr>
            <asp:Panel ID="Panel 1" runat="server">
            </asp:Panel>
            <td></td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Date&Time </td>
        </tr>

    </table>

</div>