@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Style/MasterPage.cshtml";
}

@section featured
    {
 
 <div style="float:left; padding-left:20px; width:20%; background-color:#333300; height:600px;color:White">
 <h3>About Us</h3>
 </div>
 <div style=" float:left;  width:78%; background-color:#ff6666;height:600px;">
 
 
 </div>
}