
@model ERPMBA.Models.Attendance

@{
    ViewBag.Title = "Attendance";
}
@Html.Partial("TAM")

<div class="tab-content" style="float:left; width:60%;height:100%;padding-left:30px;">
    <div id="Details" class="tab-pane fade in active" style="width:100%;height:100%;padding-left:15px;padding-top:80px;">
        <h3><center>Attendance</center></h3>
        <div id="left" style="width:300px;float:left; ">

            <form class="form-group">

                <div class="form-group">

                    Employee Id
                    <select class="form-control" id="emplid">
                        <option>Select Employee ID</option>
                        <option>emp1</option>
                        <option>emp2</option>
                        <option>emp3</option>
                        <option>emp4</option>
                    </select><br />
                    <h3>Employee Profile</h3>
                    <img id="blah" src="#" alt="" height="100px" width="100px" />
                    <input type='file' onchange="readURL(this);" />

                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#blah')
                                        .attr('src', e.target.result)
                                        .width(100)
                                        .height(100);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>

                </div>
            </form>
        </div>

        <table class="table" style="width:150px;float:left;border:1px solid black;">

            <thead>

                <tr>
                    <th></th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Wednesday</td>

                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td><input type="time" class="form-control" /></td>
                    <td><input type="time" class="form-control" /></td>
                </tr>

            </tbody>
        </table>
        <div style="padding-left:50px;">
            <style>
                table, td, th {
                    border: 1px solid black;
                }
            </style>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th style="text-align:center">Date</th>
                        <th style="text-align:center">Check In</th>
                        <th style="text-align:center">CheckOut</th>
                        <th style="text-align:center">Aprox. hours Worked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="date" class="form-control" /></td>
                        <td><input type="time" class="form-control" /></td>
                        <td><input type="time" class="form-control" /></td>
                        <td><input type="time" class="form-control" /></td>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>
