
@{
    ViewBag.Title = "Goals";
}
@Html.Partial("DM")
<div class="tab-content" style="float:left; width:60%;height:100%;padding-left:30px;">
    <div id="Details" class="tab-pane fade in active" style="width:100%;height:100%;padding-left:15px;padding-top:80px;">

        <div class="form-group">
            <fieldset>
                <div id="legend">
                    <legend>GoalsDetails</legend>
                </div>


                <table>
                    <tr>
                        <td>
                            GoalName<br /><input type="text" class="form-control" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            startDate<br /><input type="date" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DueDate<br /><input type="date" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Priority<br />
                            <select class="form-control" id="emplid">
                                <option>-----Select---</option>
                                <option>emp1</option>
                                <option>emp2</option>
                                <option>emp3</option>
                                <option>emp4</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description<br /><textarea class="form-control"></textarea>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            UserRating<br />
                            <select class="form-control" id="emplid">
                                <option>-----Select---</option>
                                <option>emp1</option>
                                <option>emp2</option>
                                <option>emp3</option>
                                <option>emp4</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            ManagerRating<br />
                            <select class="form-control" id="emplid">
                                <option>-----Select---</option>
                                <option>emp1</option>
                                <option>emp2</option>
                                <option>emp3</option>
                                <option>emp4</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Progress<br /><input type="text" class="form-control" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Job<br />
                            <select class="form-control" id="emplid">
                                <option>-----Select---</option>
                                <option>emp1</option>
                                <option>emp2</option>
                                <option>emp3</option>
                                <option>emp4</option>
                            </select>

                        </td>
                    </tr>
                </table>

            </fieldset>
        </div>


    </div>
</div>