@{
    ViewBag.Title = "Job";
}
@Html.Partial("DM")
<div class="tab-content" style="float:left; width:60%;height:100%;padding:20px;">
    <div id="Details" class="tab-pane fade in active" style="width:100%;height:100%;padding-left:15px;padding-top:80px;">
        <form name="contactForm" method="post" action="" class="form-horizontal" role="form">
            <div class="input-group" style="width:200px;">
                <label for="emplid">Job Name</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">Project</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">Start Date</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">End Date</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />

            <div class="input-group" style="width:200px;">
                <label for="emplid">Assignes</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />

            <div class="input-group" style="width:200px;">
                <label for="emplid">Hours</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />

            <div class="input-group" style="width:200px;">
                <label for="emplid">Rate Per Hour</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">Discription</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">Attachment</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />
            <div class="input-group" style="width:200px;">
                <label for="emplid">Reminder Time</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />

            <div class="input-group" style="width:200px;">
                <label for="emplid">Billable Status</label>
                <select class="form-control" id="emplid">
                    <option>Select Employee ID</option>
                    <option>emp1</option>
                    <option>emp2</option>
                    <option>emp3</option>
                    <option>emp4</option>
                </select>
            </div><br />




        </form>
    </div>

