@{
    ViewBag.Title = "Leave";
}
@Html.Partial("DM")
<div class="Leave">
    <div class="tab-content" style="float:left; width:60%;height:100%;padding:20px;">
        <div id="Details" class="tab-pane fade in active" style="width:100%;height:100%;padding-left:15px;padding-top:80px;">
            <form name="contactForm" method="post" action="" class="form-horizontal" role="form">
                <div class="input-group" style="width:200px;">
                    <label for="emplid">Employee ID</label>
                    <select class="form-control" id="emplid">
                        <option>Select Employee ID</option>
                        <option>emp1</option>
                        <option>emp2</option>
                        <option>emp3</option>
                        <option>emp4</option>
                    </select>
                </div><br />
                <div class="input-group" style="width:200px;">
                    <label for="emplid">Team ID</label>
                    <select class="form-control" id="emplid">
                        <option>Select Employee ID</option>
                        <option>emp1</option>
                        <option>emp2</option>
                        <option>emp3</option>
                        <option>emp4</option>
                    </select>
                </div><br />
                <div class="input-group" style="width:200px;">
                    <label for="emplid">Leave Type</label>
                    <select class="form-control" id="emplid">
                        <option>Select Employee ID</option>
                        <option>emp1</option>
                        <option>emp2</option>
                        <option>emp3</option>
                        <option>emp4</option>
                    </select>
                </div><br />
                <div class="input-group" style="width:200px;">
                    <label for="emplid">from</label>
                    <select class="form-control" id="emplid">
                        <option>Select Employee ID</option>
                        <option>emp1</option>
                        <option>emp2</option>
                        <option>emp3</option>
                        <option>emp4</option>
                    </select>
                </div><br />
                <div class="Leave">
                    <div class="input-group" style="width:200px;">
                        <label for="emplid">Date of Request</label>
                        <select class="form-control" id="emplid">
                            <option>Select Employee ID</option>
                            <option>emp1</option>
                            <option>emp2</option>
                            <option>emp3</option>
                            <option>emp4</option>
                        </select>
                    </div><br />
                    <div class="input-group" style="width:200px;">
                        <label for="emplid">Hours Taken</label>
                        <select class="form-control" id="emplid">
                            <option>Select Employee ID</option>
                            <option>emp1</option>
                            <option>emp2</option>
                            <option>emp3</option>
                            <option>emp4</option>
                        </select>
                    </div><br />
                    <div class="input-group" style="width:200px;">
                        <label for="emplid">Reasons for leave</label>
                        <select class="form-control" id="emplid">
                            <option>Select Employee ID</option>
                            <option>emp1</option>
                            <option>emp2</option>
                            <option>emp3</option>
                            <option>emp4</option>
                        </select>
                    </div><br />
                    <div class="input-group" style="width:200px;">
                        <label for="emplid">Medical Certificate</label>
                        <select class="form-control" id="emplid">
                            <option>Select Employee ID</option>
                            <option>emp1</option>
                            <option>emp2</option>
                            <option>emp3</option>
                            <option>emp4</option>
                        </select>
                    </div><br />
            </form>
        </div>
    </div>
</div>