@{
    ViewBag.Title = "UserInf";
    Layout = "~/Views/Style/MasterPage.cshtml";
}
<h2>Index</h2>
@section Mybody
    {
 <a href="#" class="list-group-item active">
   Coming Soon
  </a>
    
  <a href="@Url.Action("Index2", "Administrator")" class="list-group-item">Users</a>
  <a href="#" class="list-group-item">Customer</a>
  <a href="#" class="list-group-item">Items</a>
  <a href="#" class="list-group-item">Tickets</a>
   
    }