@{
    ViewBag.Title = "IndexResult";
   
}
@Html.Partial("Index")
 <div style=" padding-left:220px; padding-top:100px; background-color:Lime;width:100%;height:680px">

<h2>DashBoardIndexResult</h2>

</div>

